<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Agenda.Properties.Settings.bdagendaConnectionString"
            connectionString="Data Source=LAB3-MICRO9\SQLEXPRESS;Initial Catalog=bdagenda;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>