<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Atividade.Properties.Settings.BDAtividadeConnectionString"
            connectionString="Data Source=(local);Initial Catalog=BDAtividade;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>