<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjetoEscolar.Properties.Settings.BD_EscolarConnectionString"
            connectionString="Data Source=LAB1-M20\SQLEXPRESS;Initial Catalog=BD_Escolar;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>