<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Agencia_Banco.Properties.Settings.BD_agenciaConnectionString"
            connectionString="Data Source=LAB3-MICRO9;Initial Catalog=BD_agencia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>